.venv/
.idea/
__pycache__/
*.pyc
.env
checkpoint/*
!checkpoint/.gitkeep

data/large_language_model/*
!data/large_language_model/.gitkeep

data/dataset/json/*
!data/dataset/json/.gitkeep

data/dataset/md/*
!data/dataset/md/.gitkeep

other/*
!other/.gitkeep

generate/input_prompt/*
!generate/input_prompt/.gitkeep

generate/output/*
!generate/output/.gitkeep
